.honey-header {
  background-color: #f8d14e;
  padding-top: 5px;
  padding-left: 250px;
  padding-right: 250px;

  text-align: center;
  display: grid;
  grid-template-columns: 
      1fr 
      6fr;
  grid-template-rows: 
      100px;
}

  /* Set the logo size in the footer */
  .honey-header .logo img {
    width: 100px; /* Define the logo's width */
    height: auto; /* Adjust height automatically to maintain aspect ratio */
    object-fit: contain; /* Keeps the logo's aspect ratio intact */

  }

/* Style for the navigation */
.nav-list {

  justify-content: center; /* Center the navigation items horizontally */
  list-style-type: none; /* Removes bullet points */
  padding: 0;
  margin: 0;
}



/* Optional: Style the links */
.nav-list a {
  text-decoration: none;
  color: #3c2a22; /* Darker honey color for text */

  font-size: x-large;
}







.mondrian-container {
  display: grid;
  grid-template-columns: 

      1fr 
      2fr 
      1fr 
      1fr 
      1fr 
      1fr;
  grid-template-rows: 
      50px 
      50px 
}



.red {

  grid-column: 1 / 2; 
  grid-row: 1 / 2; 
}

.lightgrayone {

  grid-column: 4 / 5; 
  grid-row: 1 / 2; 
  padding-top: 15px;
}

.lightgraytwo {

  grid-column: 5 / 6; 
  grid-row: 1 / 2;
  padding-top: 15px;
}

.lightgraythree {

  grid-column: 6 / 7; 
  grid-row: 1 / 2; 
  padding-top: 15px;
}

.blue {

  grid-column: 1 / 2; 
  grid-row: 2 / 3; 
  padding-top: 29px;
}


.lightgrayfour {

  grid-column: 2 / 3; 
  grid-row: 2 / 3; 
  padding-top: 29px;
}

.yellow {

  grid-column: 3 / 4; 
  grid-row: 2 / 3; 
  padding-top: 29px;
}



